* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: #ebe8d6;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

/*edit the nav ul a */
/*change the background color of the nav
change to horizontal nav
change font size
change font color
change font padding
add underlining*/

nav ul {
  background-color: #abb5aa;
  text-decoration: none;
  list-style: none;
  display: flex;
  gap: 40px;
  padding: 20px;
}

nav a {
  text-decoration: none;
  color: #040f11;
  font-size: 15px;
  padding: 20px 10px;
  font-family: monospace;
}

nav a {
  text-decoration: 1px underline;
  text-underline-offset: 3px;
}

/*style index heading*/
/*move down so it is not super close to the nav, change font to monospace, and make the text bold*/
#indexHeading {
  padding-top: 20px;
  font-family: monospace;
  stroke-width: 2px;
  text-align: center;
}

/*style mudmaid page's heading*/
/*move down so it is not super close to the nav, change font to monospace, and make the text bold*/
#mudmaid-heading {
  padding-top: 20px;
  font-family: monospace;
  stroke-width: 2px;
  text-align: center;
}

#mudmaid-map {
  margin: auto;
  display: block;
  width: 350px;
}

#mudmaid-intro {
  font-family: monospace;
  text-align: center;
}

#mudmaid-p {
  font-family: monospace;
  text-align: center;
}

#mudmaid-img {
  margin: auto;
  display: block;
}

/*style intro paragraph on index page by referencing tags
 move it to the top, change font to monospace, and align text*/

#intro-p {
  padding-top: 20px;
  font-family: monospace;
  text-align: center;
}
/*style paragraph on kell hopinskin's page by referencing tags
 move it to the top, change font to monospace, and align text*/

#kelly-heading {
  font-family: monospace;
  text-align: center;
}
#kelly-intro {
  padding-top: 20px;
  font-family: monospace;
  text-align: center;
}

#kelly-desc {
  padding-top: 20px;
  font-family: monospace;
  text-align: center;
}

#kelly-im {
  display: block;
  margin: auto;
}

#kelly-im-2 {
  display: block;
  margin: auto;
}

#sunny-heading {
  padding-top: 20px;
  font-family: monospace;
  text-align: center;
}

.sunny-text {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px 30px;
  padding-left: 40px;
  padding-right: 40px;
  font-family: monospace;
}

.sunny-text p {
  padding-right: 40px;
}

.sunny-text h2 {
  text-decoration: underline;
  font-weight: 900;
}

#sunny-image {
  text-align: center;
}

#sunny-image img {
  height: 250px;
  border-radius: 10%;
  padding-bottom: 10px;
}
#devil {
  padding-top: 20px;
  font-family: monospace;
  text-align: center;
}
.sheryll-text {
  gap: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-left: 40px;
  padding-right: 40px;
  font-family: monospace;
}
#heading-jersey {
  text-align: center;
  text-decoration: underline;
}
#Jersey-pic {
  height: 225px;
  text-align: center;
}
