* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: #ebe8d6;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

/*edit the nav ul a */
/*change the background color of the nav
change to horizontal nav
change font size
change font color
change font padding
add underlining*/

nav ul {
  background-color: #abb5aa;
  text-decoration: none;
  list-style: none;
  display: flex;
  gap: 40px;
  padding: 20px;
}

nav a {
  text-decoration: none;
  color: #040f11;
  font-size: 20px;
  padding: 20px 10px;
  font-family: monospace;
}

nav a {
  text-decoration: 5px underline;
  text-underline-offset: 3px;
}

/*style index heading*/
/*move down so it is not super close to the nav, change font to monospace, and make the text bold*/
#indexHeading {
  padding-top: 20px;
  font-family: monospace;
  stroke-width: 2px;
  text-align: center;
}

/*style mudmaid page's heading*/
/*move down so it is not super close to the nav, change font to monospace, and make the text bold*/
#mudmaid-heading {
  padding-top: 20px;
  font-family: monospace;
  stroke-width: 2px;
  text-align: center;
}


/*style intro paragraph on index page by referencing tags
 move it to the top, change font to monospace, and align text*/

#intro-p {
  padding-top: 20px;
  font-family: monospace;
  text-align: center;
}
/*style paragraph on kell hopinskin's page by referencing tags
 move it to the top, change font to monospace, and align text*/

<<<<<<< HEAD
#kelly-heading {
    padding-top: 20px;
    font-family: monospace;
    text-align: center;
=======
#kelly {
  padding-top: 20px;
  font-family: monospace;
  text-align: center;
}

#jackalope {
  padding-top: 20px;
  font-family: monospace;
  text-align: center;
}

#jackalope-p {
  padding-top: 20px;
  font-family: monospace;
  text-align: center;
}

#snally {
  padding-top: 20px;
  font-family: monospace;
  text-align: center;
}

#snally-p {
  padding-top: 20px;
  font-family: monospace;
  text-align: center;
>>>>>>> d1d498d4b2019125a0d43bb4593b9def10e1c7d7
}
